.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
    transition: opacity 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
